@import '../../styles/index.scss';

button {
  @extend .shadowed;
  position: relative;

  margin-top: $material-padding-normal;
  margin-bottom: $material-padding-normal;

  border: none;
  height: 36px;
  min-width: 88px;
  padding: 0 $material-padding-large;

  cursor: pointer;
  outline: none;

  font-size: 14pt;
  text-transform: uppercase;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  color: $colour-primary-text;
  background-color: $colour-accent;

}

button:active {
  @extend .shadowed-large;
  background-color: $colour-accent-dark;
}