@import '../../styles/index';


.text-area {
  position: relative;
  margin-top: $material-padding-normal !important;
  margin-bottom: $material-padding-normal !important;

  textarea {
    background: transparent;

    transition: 0.2s border ease-in-out;

    resize: none;
    outline: none;
    border: 0;
    border-bottom: 2px solid $colour-secondary;
    padding-top: $material-padding-large;
    padding-bottom: $material-padding-normal;
  }

  textarea:focus {
    border-bottom-color: $colour-accent;
  }

  label {
    position: absolute;
    color: $colour-placeholder-text;
    top: $material-padding-large;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
  }

  textarea:focus + label, textarea:valid + label {
    position: absolute;
    top: 0;
    font-size: 75%;
    color: $colour-accent;
    transition: all 0.2s ease-in-out;
  }
}