@import '../../styles/index';

$label-offset: 16px;

.text-area {
  position: relative;
  margin-top: $label-offset;

  textarea {
    background: transparent;

    transition: 0.2s border ease-in-out;

    resize: none;
    outline: none;
    border: 0;
    border-bottom: 2px solid $colour-secondary;
    padding-top: $label-offset;
    padding-bottom: 8px;
  }

  textarea:focus {
    border-bottom-color: $colour-accent;
  }

  label {
    position: absolute;
    color: $colour-placeholder-text;
    top: $label-offset;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
  }

  textarea:focus + label, textarea:valid + label {
    position: absolute;
    top: 0;
    font-size: 50%;
    color: $colour-accent;
    transition: all 0.2s ease-in-out;
  }
}