
.grid-container {
  display: grid;
  grid-template-columns: 100vw;
}

.flex-container {
  display: flex;
}

.flex-start {
  @extend .flex-container;
  justify-content: flex-start;
}

.flex-center {
  @extend .flex-container;
  align-items: center;
  justify-content: center;
}

.flex-end {
  @extend .flex-container;
  justify-content: flex-end;
}

.flex-horizontal {
  @extend .flex-container;
  flex-direction: row;
}

.flex-vertical {
  @extend .flex-container;
  flex-direction: column;
}