@import "variables";

@function font-scaling($font-size, $scaling-factor: -0.25rem) {
  @return $font-size + $scaling-factor;
}

@mixin font-base() {
  color: $colour-primary-text;

  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  @include font-base();
  font-size: $text-size;
}

h1 {
  font-size: $h1-size;
}

h2 {
  font-size: $h2-size;
}