$colour-primary: #424242; // Material grey 800
$colour-secondary: #757575; // Material grey 600
$colour-accent: #4CAF50; // Material green 500
$colour-accent-dark: #388E3C; // Material green 700
$colour-primary-text: #fff;
$colour-placeholder-text: #757575;
$colour-error: #F44336; // Material red 500

// 1em = 16px.
$responsive-break: 60em;

$h1-size: 1.5rem;
$h2-size: 1.25rem;
$text-size: 1rem;

$material-padding-large: 1em;
$material-padding-normal: $material-padding-large/2;