@import "variables";
@import "flex";
@import "font";

body {
  margin: 0;
  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox

  @include font-base();
}

body::-webkit-scrollbar {
  display: none;  // Safari and Chrome
}

.parallax {
  background: no-repeat fixed center;
  background-size: cover;
}

.shadowed {
  -webkit-box-shadow: 0 1px 25px 4px rgba(47, 46, 46, 0.3);
  -moz-box-shadow: 0 1px 25px 4px rgba(47, 46, 46, 0.3);
  box-shadow: 0 1px 25px 4px rgba(47, 46, 46, 0.3);
}