@import "../../styles/index";

$about-line-height: 1.25rem;

.about-grid {
  display: grid;

  @media screen and (max-width: $responsive-break), (orientation: portrait) {
    grid-template-rows: 50vh 50vh;
  }

  @media screen and (min-width: $responsive-break) and (orientation: landscape) {
    grid-template-columns: 65vw 35vw;
  }

  height: 100vh;
  background-color: $colour-primary;
}
.about-container {
  @extend .flex-center;
  letter-spacing: 0.02rem;

  line-height: $about-line-height;

  @media screen and (max-width: $responsive-break), (max-height: $responsive-break) {
    line-height: font-scaling($about-line-height);
  }
}

.about-text {
  width: 80%;

  h2, p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.about-skills {
  h1 {
    margin-bottom: 1rem;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0.5rem;
    font-weight: bold;
  }

  li {
    @extend .shadowed;
    background-color: $colour-secondary;
    margin-top: 5px;
    padding: 15px;
  }
}