@import "../../styles/index";

.experience-container {
  @extend .flex-center;
  @extend .parallax;
  @extend .flex-vertical;

  background-image: url(../../images/background-experience.jpg);

  height: 100vh;
}

.experience-card {
  @extend .flex-center;
  @extend .card;

  @media screen and (max-width: $responsive-break) {
    width: 100vw;
  }

  h1 {
    margin-bottom: $material-padding-large;
  }

  h2 {
    margin-top: $material-padding-normal;
    margin-bottom: $material-padding-normal;
  }

  ul {
    list-style-type: none;
    margin-top: $material-padding-normal;
  }

  li:before {
    content: '\003E';
    font-weight: bold;
    margin: 0 $material-padding-normal 0 0;
  }

  a {
    color: $colour-primary-text;
    font-weight: bold;
    text-decoration: none;
  }

  .karelia {
    color: #7BB801;
  }

  .fastroi {
    color: #FF7A01;
  }

  .kanta {
    color: #0090D4;
  }

  svg {
    width: 3em;
    height: 10em;
  }
  circle, rect {
    stroke: $colour-accent;
    fill: $colour-accent;
  }

  circle {
    r: 0.4em;
  }

  rect {
    width: 0.2em;
    height: 5.5em;
  }
}
